@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center img-view" style="background-image: url(https://www.universitapopolaredicremona.it/wp-content/uploads/2018/04/operatore-di-agenzia-turistica.jpg)">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
