html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.img-view {
height:  800px;
background-repeat: no-repeat;
background-size:cover;
background-attachment:fixed;
opacity: 0.4;
}

